.router-content {
    margin-top: 60px;
}

.footer-content {
    position: fixed;
    bottom: 0px;
    background-color: #efefef;
    width: 100%;
    padding: 8px 0px 8px 0px;
}

// .mat-divider{
//     display: flex;
//     border-top-width: 1px;
//     border-top-style: solid;
//     margin-left: 150px;
//     margin-right: 150px;
// }
