<div class="wrapper">
    <div fxLayout="row" fxFlexFill>
        <div fxFlex="15">
        </div>
        <div fxFlex="70">
            <app-header></app-header>
            <mat-divider></mat-divider>
        </div>
        <div fxFlex="15">
        </div>
    </div>
    <div class="router-content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer-content">
        <div fxLayout="row" fxFlexFill>
            <div fxFlex="5">
            </div>
            <div fxFlex="90">
                <app-footer></app-footer>
            </div>
            <div fxFlex="5">
            </div>
        </div>
    </div>
</div>