<div  class="form-content" fxLayout="row" fxFlexFill>
    <div fxFlex="30" >

    </div>
    <div fxFlex="40">
        <form name="form" (ngSubmit)="f.form.valid && submitForgotPassword()" #f="ngForm" novalidate>
            <mat-card>
              <mat-card-title class="form-title">
                  Forgot Password
              </mat-card-title>
              <mat-card-content>
                  <mat-form-field class="example-full-width">
                      <input matInput name="email" placeholder="Enter Email" [(ngModel)]="Email" #email="ngModel" email required>                      
                  </mat-form-field>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <mat-error *ngIf="email.errors.required">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="email.errors.email">Email must be a valid email address</mat-error>
                </div>               
                  <!-- <img src="../../assets/images/captcha.png" alt="Captcha" height="50px" width="225px" style="vertical-align:inherit" />
                  <img src="../../assets/images/captcha_refresh.png" id="imgCaptchaRefresh" width="28px" class="mt-2" /> -->
                  <img src="./assets/images/captchalogin.png" class="" width="222" height="53px" alt="Captcha">
                  <div class="centered">{{captchaval}}</div>                 
                    <a href="#"> <img src="./assets/images/captcha_refresh.png" id="imgCaptchaRefresh" width="28px" style="margin-left: 29px;" (click)="refreshCaptch()"></a>
                 <mat-form-field class="example-full-width">
                    <input matInput name="captcha" placeholder="Enter Captcha" [(ngModel)]="Captcha"  #captcha="ngModel" required>
                </mat-form-field>
                      <div *ngIf="captcha.invalid && (captcha.dirty || captcha.touched)" class="alert alert-danger">
                          <mat-error *ngIf="captcha.errors.required">
                              Captcha is required.
                          </mat-error>
                          <!-- <mat-error *ngIf="Captcha.errors.email">Email must be a valid email address</mat-error> -->
                      </div>    
              </mat-card-content>
              <mat-card-actions>
                   <!-- <mat-form-field class="example-full-width"> -->
                          <!-- <button mat-button style="color: chocolate;" (click)="submitForgotPassword()">Submit</button>    -->
                          <button name="submit" [disabled]="!f.form.valid" mat-raised-button class="submit-button" >Submit</button>   
                      <!-- </mat-form-field>  -->
              </mat-card-actions>
            </mat-card> 
          </form>
    </div>
    <div fxFlex="30">

    </div>
</div>
